.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.banner {
    background-image: url("https://github.com/gmlegrice/DPI-Prac/blob/0e2375d946831b614140c60ed8aa8a1a64fe3f3f/DPIBanner-Opaque.jpg");
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust the height as needed */
    width: 100%;
}

.banner-text h1 {
    text-align: center;
    padding: 34px;
    color: #000000; 
    font-size: 34px;
    font-family: Futura, sans-serif; 
   font-weight: bold;
}
.banner-text h2 {
    text-align: center;
    padding: 42px;
    color: #000000; 
    font-size: 42px;
    font-family: Futura, sans-serif; 
   font-weight: bold;
}
